*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 1369px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    font-weight: 900;
}